<!DOCTYPE html>
<html data-ng-app="app">
    <head>
        <title>PortAlg</title>
        
        <script src="ace-builds/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
        <script src="js/app.js"></script>
        <link rel="stylesheet" type="text/css" href="css/main-style.css">
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" 
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        <!-- Optional theme 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
         integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">-->

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" 
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        
    </head>
    <body class="pageBody">
        <div class="main" data-ng-controller="editor">
            
            <div class="header">
                <h1>Portal de Algoritmos UCS</h1>
            </div>
            
            <div class="content" data-ng-controller="compileController">
                <div id="editorToolbar" class="btn-toolbar" role="tooblar" arial-label="Compiler Toolbar" >
                    <div id="toolbar" class="btn-group row" role="group" arial-label="Compiler buttons toolbar">
                        <button type="button" class="btn btn-default" data-ng-click="callCompiler()">Executar</button>
                        <button type="button" class="btn btn-default">Passo-a-Passo</button>
                        <button type="button" class="btn btn-default" disabled="disabled">Continuar</button>
                        <button type="button" class="btn btn-default">Encerrar</button>
                    </div>
                    <div id="secondRowToolbar row">
                        <input type="checkbox">Linha-a-Linha</input>
                    </div>
                </div>
                <div class="editorPanel"   >
                    <div class="editor" id="aceEditor" data-ace="" data-ng-model="content"></div>
                </div>
                <div class="consolePanel">
                    <label>Console log:</label>
                    <br/>
                    <textarea id="compilerConsole">{{messagerest}}</textarea>
                </div>
            <div>
                
            <div class="footer">
                
            </div>
        </div>
    </body>
</html>